@keyframes bgimage {
  0% {background-image: url(pics/banner0.jpg)}
  25% {background-image: url(pics/banner1.jpg)}
  50% {background-image: url(pics/banner2.jpg)}
  75% {background-image: url(pics/banner3.jpg)}
  100% {background-image: url(pics/banner4.jpg)}
}
body{
  background-color: #ffffee;
}
header{
  background-color: #669999;
  text-align: center;
  font-family: 'Unlock', cursive;
  text-shadow: 4px 4px 5px #092c2c;
  color:#ffffff;
  overflow: hidden;
  font-size: 3vw;
  margin:2%;
  border-bottom: 15px solid #116666;
}
.siteTitle{
  background-color: #ffffff;
  text-shadow: 4px 4px 5px #27c9c9;
  border-bottom: 1vw solid #27c9c9;
  color: #092c2c;
  padding: 3px 15px;
  border-radius: 10%;
  transition: all 0.75s;
}
.siteTitle:hover {
  filter: invert(100%);
}
button {
  background-color: #339999;
  border:0;
  transition: all 0.5s;
}
button:hover{
  background-color: #114444;
}
.emotiBtns{
  font-family:Impact;
  min-width:4vw;
  min-height:4vw;
  font-size:4vw;
  }
.generalButton{
  font-family:'Raleway', sans-serif;
  color: white;
  font-size:3vw;
  margin-top: 15px;
  margin: auto;
  min-width:40%;
  padding: 10px;
}
.postHolder{
  background-color:#66aaaa;
  font-family: 'Raleway', sans-serif;
  color:white;
  max-width:60%;
  min-width:40%;
  overflow:hidden;
  opacity:0.95;
  padding:0px 25px;
  text-align: center;
  margin:50px auto;
}
#makePostBox{
  padding: 15px;
  display:none;
  opacity:0;
  transition:all 0.5s;
}
.categorySelect{
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  margin: 10px;
}
.textInput{
  padding:15px;
  width: 80%;
  height:150px;
  margin: 10px;
  font-size: 2vw;
}
.postTitle{
  text-align: left;
  padding: 2px 10px;
  background-color: #338888;
  border-bottom: 10px solid #117777;
  font-size: 2vw;
}
.categoryLabelInPost{
  float:right;
  background-color:#117777;
  margin-bottom:0px;
  padding: 5px;
  border-radius: 15px 15px 0 0;
  text-shadow: 2px 2px 5px darkblue;
}
.postText{
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
}
.postOpenBtn{
  text-align:center;
  }
.postUserImageSpace{
  float:left;
  margin:5px;
  height:13.3vw;
  width:13.3vw;
  background-color: #339999;
  border-bottom: 10px solid #117777;
}
.postUserImage{
  width: 100%;
  height: 100%;
}
.postImage{
  width:100%;
}
.buttonHolder{
  margin: 0px auto;
  text-align: center;
}
.navButton{
  font-family:'Raleway', sans-serif;
  color: white;
  font-size:1.25vw;
  margin: auto;
  min-width:15%;
  padding: 10px;
}



.indexMainHolder{
  background-color: #111111;
  width:95%;
  height:35vw;
  margin:4vw auto;
  border-bottom: 10px solid #092c2c;
  overflow:hidden;
}
.indexImageHolder{
  transition:all 0.75s;
  animation: bgimage 20s infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #092c2c;
  float:left;
  width:70%;
  height:100%;
}
.indexMainForm{
  background-color: #117777;
  padding: 0 20px;
  height:100%;
  overflow:hidden;
}
.inputTitle{
  font-family:'Raleway', sans-serif;
  font-size: 2vw;
  color:white;
  margin:10px 5px;
  padding:0px;
}
.inputLabel{
  font-family:'Raleway', sans-serif;
  font-size:1.25vw;
  color:white;
  margin:10px 5px;
  padding:0px;
}
.loginInput{
  width:100%;
  font-size:2vw;
}
.indexButtonHolder{
  text-align: center;
  margin-top: 15px;
}
.loginButton{
  font-family:'Raleway', sans-serif;
  overflow:hidden;
  font-size:1.5vw;
  color:white;
  width:90%;
  padding: 5px;
  margin: 5px auto;
}
.otherButton{
  width:40%;
}
#loginForm{
  display: block;
}
#registerForm{
  display: none;
}
