:root {
  --main-font-color: white;
  --second-font-color: white;

  /*This is where the theme variables are added by the backend*/
  --font-group-a: 'Montserrat','unlock', cursive;
  --font-group-b: 'Raleway', sans-serif;
}

body{
  margin:0px;
  background-color:rgb(230, 236, 240);
  text-align: center;
  opacity:0.9;
  font-family: Arial, Helvetica, sans-serif;
  position:relative;
}
.indexBody{
  background-image: url('pics/10.png');
}
header{
  background-color:	var(--main-color);
  text-align: center;
  font-family: var(--font-group-a);
  color:#ffffff;
  overflow: hidden;
  font-size: 32pt;
  width:100%;
  margin: auto;
  margin-top: 0px;
  border-bottom: 15px solid var(--main-color-B);
}
.headerLogo{
  height:150px;
}
button {
  background-color: var(--main-color);
  border:0;
  transition: all 0.5s;
}

button:hover{
  background-color: var(--main-color);
}
.emotiBtns{
  font-family: var(--font-group-a);
  background-color: transparent;
  font-size:22pt;
  color:white;
  padding: 9px 10px 9px 14px;
  margin: auto 2px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.15s;
}
.emotiBtns:hover{
  border: 3px solid #ccc;
  padding: 7px 8px 7px 12px;
}
.trashBtn{
  font-family:Impact;
  padding: 18px;
  font-size:22pt;
  float:right;
  filter:opacity(0.8) invert(1%);
  transition: all 0.25s;
}
.trashBtn:hover i{
  filter:opacity(1) invert(100%);
}
.openPostBoxBtn{
  font-family: var(--font-group-a);
  background-color: var(--second-color);
  font-size:18pt;
  border-radius: 5px;
  width:20%;
  color: white;
  margin: 10px auto -35px auto;
  padding: 10px;
  transition: all 0.1s;
}
.openPostBoxBtn:hover{
  border-radius: 50px;
  background-color: var(--second-color-B);
}

/* post stuff:*/
.postHolder{
  background-color: var(--second-color-D);
  font-family: var(--font-group-b);
  color:white;
  width:50%;
  max-width: 700px;
  overflow:hidden;
  opacity:0.95;
  padding:0px 25px;
  text-align: center;
  margin:50px auto;
}
.postUserName {
  font-family: var(--font-group-b);
}
.postDate {
  font-family: var(--font-group-a);
  font-size: 12pt;
}
.categoryLabelInPost{
  float:right;
  font-family: var(--font-group-b);
  background-color:var(--second-color);
  margin-bottom:0;
  font-size: 16pt;
  padding: 5px 10px;
  border-radius: 15px;
  transition: all 0.5s;
}
.textInput{
  padding:15px;
  width: 80%;
  height:150px;
  font-size: 16pt;
}

/* navbar stuff: *//*      NAVBAR SETTINGS        */
.navbar {
  overflow: hidden;
  background-color: var(--main-color-B);
}
.navbar-item {
  background-color: var(--main-color-B);
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.25s;
}
.navbar-item:hover {
  color:black;
  background-color: var(--main-color-B2);
  cursor: pointer;
}
.navbar-form{
  display:inline-block;
  margin-bottom: 0;
  float:right;
}


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown:hover .dropbtn {
  color:black;
  background-color: var(--main-color-B2);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 146px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  font-size: 18px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* The mainfeed dark background overlay */
.darkBackground {
  display: none;
  background-color: black;
  opacity: 0.75;
  position:fixed;
  width:100%;
  height:100vw;
  z-index: 1;
}

/* Style the post maker */
.makePostBtn{
  font-family: var(--font-group-a);
  background-color: transparent;
  font-size:16pt;
  color: var(--main-font-color);
  padding: 10px 8px 10px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 15px auto;
  min-width:20%;
  padding: 4px;
}
.makePostBtn:hover{
  background-color: var(--main-color);
  color:black;
}
.makePostBox {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  background-color: var(--second-color-D);
  font-family: var(--font-group-b);
  color:white;
  overflow:hidden;
  text-align: center;
  /* For the popup to be over the dark overlay */
  position:fixed;
  width:50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.makePostTitle {
  background-color: var(--main-color);
  font-size: 18pt;
  margin-bottom: 10px;
}
.makePostForm{
  padding: 0px;
  margin:0px;
}
.imageUploadLabel {
  font-size: 16pt;
  font-family: var(--font-group-b);
  display:inline-block;
  color:white;
  padding: 10px 8px 10px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.25s;
}
.imageUploadLabel:hover {
  background-color: var(--main-color);
  color: black;
}
.search_categories{
  font-size: 16pt;
  padding: 12px 10px 10px 14px;
  display:inline-block;
  width: 30%;
  top:16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  transition: all 0.15s;
}
.search_categories .select{
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
}
.search_categories .select select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
  font-family: var(--font-group-b);
  color:white;
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}
.search_categories:hover{
  background-color: var(--main-color);
}

.search_categories:hover .select select{
  color: black;
}
.postBoxErrorText{
  font-family: var(--font-group-b);
  font-size: 18pt;
  color: white;
}
.imageInput{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
/*Search bar css*/
.searchHolder{
  display:inline-block;
  margin-top: 5px;
  width: 20%;
  font-family: var(--font-group-a);
  font-size: 18pt;
}
.searchInput{
  width:100%;
  padding: 3.5px 3px;
  margin: 0;
  background-color: #ddd;
  font-size: 18pt;
  height: inherit;
  border: none;
}
.searchList{
  position:fixed;
  text-align: left;
  width: 20%;
  margin: 0;
  padding: 0;
  list-style-type:none;
  background-color: #ddd;
  color: black;
}
.searchListItem{
  transition: all 0.5s;
  padding:5px 3px;
}
.searchListItem:hover{
  cursor: pointer;
  background-color: darkgrey;
  color: white;
}
/*Post stuff:*/
.postTitle{
  text-align: left;
  padding: 2px 10px;
  background-color: var(--main-color);
  border-bottom: 10px solid var(--main-color-B);
  font-size: 12pt;
  transition: all 0.5s;
  overflow: hidden;
}
.postTitle:hover .categoryLabelInPost {
  background-color: var(--second-color-B);
}
.postTitle a{
  color:white;
  text-decoration: none;
}
.postTitle a:hover{
  text-decoration: underline;
}
.postText{
  text-align: left;
  font-family: var(--font-group-b);
  font-size: 18pt;
}
.postOpenBtn{
  text-align:center;
}
.postUserImageSpace{
  float:left;
  margin:10px;
  height:100px;
  width:100px;
}
.userImage{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.postImage{
  width:60%;
  margin: 2%;
  margin-left: 20%;
  transition: all 0.25s;
}
.postImage:active{
  width:100%;
  margin-left: 0%;
}

/*Comment section: */

.commentBtn{
  background-color: transparent;
  font-family:Impact;
  font-size:29pt;
  margin-top: -70px;
  float:right;
  color: white;
  transition: all 0.15s;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.commentBtn:hover, .profile_btn:hover, .profile_theme:hover{
  background-color: transparent;
  border: 3px solid #ccc;
  padding: 6px;
}
.commentsSection{
  background-color: var(--second-color-D);
  margin: 5px;
  padding: 5px;
  display: 'block';
}
.commentsCreation{
  font-size:18pt;
  color:white;
  padding: 10px 8px 10px 14px;
  margin: auto 2px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.commentInput{
  width: 70%;
  font-size:18pt;
  padding: 10px 8px 10px 14px;
  margin: auto 2px;
  border: none;
  border-radius: 6px;
}
.commentSubmitBtn{
  font-size:18pt;
  background-color: transparent;
  width: 25%;
  color:white;
  padding: 10px 8px 10px 14px;
  margin: auto 2px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.commentSubmitBtn:hover{
  background-color: var(--main-color);
  color: black;
}
.commentContainer{
  margin: 5px;
  padding: 5px;
}
.commentContainerContainer{
  background-color: var(--main-color);
  color:white;
  padding: 10px 8px 10px 14px;
  margin: auto 2px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.commentUserImageSpace{
  float:left;
  margin:5px;
  height:70px;
  width:70px;
}
.commentUserImage{
  border-radius: 100%;
}
.commentUserName{
  display: inline-block;
  float: left;
  font-size: 18pt;
  margin: 0;
  margin-left: 15px;
  margin-bottom: -15px;
}
.commentDate{
  text-align: right;
  font-size: 16pt;
  margin: 0;
  margin-right: 15px;
  margin-bottom: -15px;
}
.commentText{
  text-align: left;
  font-size: 18pt;
}
/*Other stuff: */

.buttonHolder{
  width:60%;
  margin: 2%;
  margin-left: 20%;
  text-align: center;
}

/* style inputs and link buttons */

.loginInput {
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  margin: 5px 20px;
}

.loginbutton{
  width: 20%;
  font-size: 17px;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: var(--main-color);
  color:white;
}

.registerbutton{
  min-width: 20%;
  font-size: 17px;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: var(--main-color);
  color:white;
}

input:hover,
.btn:hover {
  opacity: 1;
}

.loginTitle{
  text-align:center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  font-size: 60px;
  font-family: var(--font-group-a);
}

.titleText {
  color: var(--main-font-color);
  font-size: 38pt;
}

.subtitleText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: var(--main-font-color);
}
.formLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: var(--second-font-color);
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}

h5{
  font-size: 25px;
  color:var(--main-color);
  text-align: center;
}
#loginForm{
  display: block;
}
#registerForm{
  display: none;
}

.container {
  position: left;
  border-radius: 2px;
  background-color: var(--second-color-D);
  padding: 100px 0 10px 0;
  margin: 50px;
  width: 400px;
  float:right;
  height: 800px;
}

@media (max-width: 1150px) {
  .userData{
    width: 130px;
    border-bottom-right-radius: 50%;
  }
  .userDataUserName{
    font-size: 0pt;
  }
  .userDataUserRank{
    display: none;
  }
}
@media (max-width: 800px) {
  .postHolder{
    width:80%;
    margin: 15px auto;
    padding:0% 5%;
    opacity:0.95;
  }
  .container {
    margin: 40px auto;
    float:none;
  }
}
.indexButtonHolder{
  text-align:center;
  color:white;
  margin: 0;
}

.navButton{
  background-color: grey;
  font-family: var(--font-group-a);
  color:white;
  font-size: 18pt;
  padding:5px;
}
.navButton:hover{
  background-color: darkgrey;
}

/* Profile Stuff: */

.profilePosts{
  margin-left: 20%;
  margin-right: 0;
  margin-top: 0;
}
.profileUserData{
  position:fixed;
  width: 30%;
  margin-top: 3.7%;
  margin-left: 5%;
  background-color:var(--second-color-D);
  overflow:hidden;
}

.profileUserImageSpace{
  float:left;
  margin:1vw;
  height:10vw;
  width:10vw;
}
.profileUserImageForm{
  margin:0;
}
.profileChangeUserImage{
  position: absolute;
  margin: 0;
  margin-top: -10vw;
  margin-left: -5vw;
  height:10vw;
  width:10vw;
  padding:1vw;
  border-radius:0.5vw;
  border:none;
  background-color: white;
  font-size: 10pt;
  opacity: 0;
  transition: all 0.2s;
}
.profileChangeUserImage:hover{
  opacity: 0.4;
}
.profile_btn{
  font-family: var(--font-group-a);
  font-size: 1.25vw;
  color: var(--main-font-color);
  background-color: transparent;
  width:11vw;
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.1s;
}
.profile_input_holder{
  display:inline-block;
  margin: 0px 20px;
}
.profile_label{
  font-size: 1.25vw;
  font-family: var(--font-group-a);
  color: var(--second-font-color);
}
.profile_theme{
  width:10vw;
  margin: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.15s;
}
.profile_theme .profile_select{
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 95% 50%;
}

.profile_theme .profile_select select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
  text-align: center;
  font-family: var(--font-group-a);
  color: var(--second-font-color);
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 10;
  font-size: 1.25vw;
}
.profile_theme:hover .profile_select select{
  color: var(second-font-color);
}
.profileUserDataUserName{
  font-family: var(--font-group-b);
  font-size: 1.45vw;
  background-color:var(--main-color);
  color: var(--main-font-color);
  padding:0;
}
@media (max-width: 800px) {
  .postHolder{
    width:80%;
    margin: 15px auto;
    padding:0% 5%;
    opacity:0.95;
  }
  .profilePost{
    margin-left: auto;
  }
  .profileUserData {
    margin: 40px auto;
    float:none;
  }
  .profileUserData{
    position:fixed;
    display: none;
    margin: auto;
  }
}
