body{
    background-image: url('pics/10.png');
    text-align: center;
    opacity:0.9;
  }
  image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
  }
  header{
    background-color:	#FF4500;
    text-align: center;
    font-family: 'Unlock', cursive;
    max-width: 1600px;
    color:#ffffff;
    overflow: hidden;
    font-size: 32pt;
    margin:2% auto;
    border-bottom: 15px solid #FF7F50;
  }
  button {
    background-color: #FF4500;
    border:0;
    transition: all 0.5s;
  }

  button:hover{
    background-color: #FF4500;
  }
  .userData{
    position:absolute;
    float:left;
    width:300px;
    background-color:#808080;
    border-bottom-right-radius: 100%;
    transition: all 0.5s;
  }

  .logOutBtn{
    float:left;
    margin: -10px 0 15px 10px;
    background-color: #707070;
    color:white;
    font-size: 14pt;
    padding:5px;
  }
  .userData:hover{
  background-color:#aaa;
}
  .emotiBtns{
    font-family:Impact;
    min-width:35px;
    min-height:35px;
    font-size:32pt;
    background-color: #aaa;
    }
  .trashBtn{
    font-family:Impact;
    min-width:35px;
    min-height:35px;
    font-size:32pt;
    float:right;
    background-color: #aaa;
  }
  .emotiBtns:hover, .trashBtn:hover{
  background-color: #eee;
  }

  .generalButton{
    font-family:'Raleway', sans-serif;
    font-size:36pt;
    background-color: #808080;
    color: #ffffff;
    margin-top: 15px;
    margin: auto;
    min-width:400px;
    padding: 10px;
  }
  .generalButton:hover{
    background-color: #aaa;
  }
  .categorySelect{
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    margin: 10px;
  }
  .makePostBtn{
    font-size:26pt;
  }
  .postHolder{
    background-color:	#FF4500;
    font-family: 'Raleway', sans-serif;
    color:white;
    width:50%;
    max-width: 700px;
    overflow:hidden;
    opacity:0.95;
    padding:0px 25px;
    text-align: center;
    margin:50px auto;
  }

  #makePostBox{
    padding: 15px;
    display:none;
    opacity:0;
    transition:all 0.5s;
  }

  .textInput{
    padding:15px;
    width: 80%;
    height:150px;
    font-size: 16pt;
  }

  .postTitle{
    text-align: left;
    font-family: 'Unlock',cursive;
    padding: 2px 10px;
    background-color: 	#FF4500;
    border-bottom: 10px solid #808080;
    font-size: 18pt;
  }

  .postText{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 22pt;
  }

  .postOpenBtn{
    text-align:center;
    }

  .postUserImageSpace{
    float:left;
    margin:10px;
    height:20%;
    width:20%;
  }

  .postUserImage{
    width: 100%;
    height: 100%;
  }

  .postImage{
    width:100%;
  }

  .buttonHolder{
    margin: 0px auto;
    text-align: center;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    background-color:white;
  }

  .container {
    position: left;
    border-radius: 2px;
    background-color:#404040;
    padding: 100px 0 10px 0;
    margin: 50px;
    width: 400px;
    float:right;
    height: 600px;
  }

  /* style inputs and link buttons */

  input {
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    margin: 5px 20px;
  }

  .loginbutton{
  width: 20%;
  font-size: 17px;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #FF4500;
  color:white;
  }

  .registerbutton{
    min-width: 20%;
    font-size: 17px;
    padding: 14px 20px;
    margin: 8px 0;
    background-color: #FF4500;
    color:white;
  }

  input:hover,
  .btn:hover {
    opacity: 1;
  }

.loginTitle{
  text-align:center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  font-size: 60px;
  font-family: 'Unlock', cursive;
}

  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
  }
  .formLabel {
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
  }

  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

h5{
  font-size: 25px;
  color:#FF4500;
  text-align: center;
}
#loginForm{
  display: block;
}
#registerForm{
  display: none;
}

.container2 {
  position: left;
  border-radius: 2px;
  background-color:#404040;
  padding: 100px 0 10px 0;
  margin: 50px;
  width: 400px;
  float:right;
  height: 800px;
}

.indexButtonHolder{
  text-align:center;
  color:white;
  margin: 0;
}

.navButton{
  background-color: grey;
  color:white;
  font-size: 18pt;
  padding:5px;
}
.navButton:hover{
  background-color: darkgrey;
}

.categoryLabelInPost{
  float:right;
  background-color:#808080;
  margin-bottom:0px;
  padding: 5px;
  border-radius: 15px 15px 0 0;
}
