  :root {
    --main-color: #FF4500;
    --main-color-B: #FF7F50;
    --second-color: #909090;
    --second-color-B: #e0e0e0;
    --second-color-D: #404040;
  }

  body{
    background-image: url('pics/10.png');
    background-color:white;
    text-align: center;
    opacity:0.9;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
  }
  header{
    background-color:	var(--main-color);
    text-align: center;
    font-family: 'Unlock', cursive;
    max-width: 1600px;
    color:#ffffff;
    overflow: hidden;
    font-size: 32pt;
    margin:2% auto;
    border-bottom: 15px solid var(--main-color-B);
  }
  button {
    background-color: var(--main-color);
    border:0;
    transition: all 0.5s;
  }

  button:hover{
    background-color: var(--main-color);
  }

  .userData{
    position:absolute;
    float:left;
    width:400px;
    height:150px;
    background-color:var(--second-color);
    border-bottom-right-radius: 100%;
    overflow:hidden;
    transition: all 0.5s;
  }
  .userData:hover, .userDataUserName{
    background-color:var(--second-color-B);
    color:#000;
  }
  .headerUserImageSpace{
    float:left;
    margin:10px;
    height:90px;
    width:90px;
  }
  .changeUserImageForm{
    margin:0;
  }
  .changeUserImage{
    float:left;
    margin: 0;
    margin-top: -26%;
    margin-left: 10px;
    height:90px;
    width:90px;
    padding:10px;
    border-radius:5px;
    border:none;
    background-color: white;
    font-size: 10pt;
    opacity: 0;
    transition: all 0.2s;
  }
  .changeUserImage:hover{
    opacity: 0.4;
  }
  .logOutBtn{
    float:left;
    margin: -10px 0 15px 10px;
    background-color: var(--second-color-B);
    color:black;
    width:90px;
    font-size: 14pt;
    padding:5px;
  }
  .logOutBtn:hover{
    background-color: var(--second-color);
    color:white;
  }
  .userDataUserName{
    font-size: 18pt;
    padding:0;
    font-family: 'unlock', cursive;
  }
  .userDataUserRank{
    font-size: 14pt;
    font-family: 'unlock', cursive;
  }
  .emotiBtns{
    font-family:Impact;
    min-width:25px;
    min-height:25px;
    font-size:26pt;
    background-color: var(--second-color);
  }
  .trashBtn{
    font-family:Impact;
    min-width:25px;
    min-height:25px;
    font-size:32pt;
    float:right;
    background-color: var(--second-color);
  }
  .generalButton{
    font-family: 'unlock', cursive;
    font-size:36pt;
    background-color: var(--second-color);
    color: #ffffff;
    margin-top: 15px;
    margin: auto;
    min-width:400px;
    padding: 10px;
  }
  .emotiBtns:hover, .trashBtn:hover, .commentBtn:hover, .generalButton:hover{
  background-color: var(--second-color-B);
  color:black;
  }

  .categorySelect{
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    margin: 10px;
  }
  .makePostBtn{
    font-size:26pt;
  }
  .postHolder{
    background-color:	var(--main-color);
    font-family: 'Raleway', sans-serif;
    color:white;
    width:50%;
    max-width: 700px;
    overflow:hidden;
    opacity:0.95;
    padding:0px 25px;
    text-align: center;
    margin:50px auto;
  }
  .categoryLabelInPost{
    float:right;
    background-color:var(--second-color);
    margin-bottom:-5px;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    transition: all 0.5s;
  }
  #makePostBox{
    padding: 15px;
    display:none;
    opacity:0;
    transition:all 0.5s;
  }
  .textInput{
    padding:15px;
    width: 80%;
    height:150px;
    font-size: 16pt;
  }
  .postTitle{
    text-align: left;
    padding: 2px 10px;
    background-color: var(--main-color);
    border-bottom: 10px solid var(--second-color);
    font-size: 12pt;
    transition: all 0.5s;
    overflow: hidden;
  }
  .categoryLabelInPost, .postTitle:hover{
    border-bottom: 10px solid var(--second-color-B);
  }
  .postText{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 22pt;
  }
  .postOpenBtn{
    text-align:center;
  }
  .postUserImageSpace{
    float:left;
    margin:10px;
    height:100px;
    width:100px;
  }
  .userImage{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .postImage{
    width:100%;
  }

  /*Comment section: */

  .commentBtn{
    font-family:Impact;
    min-width:25px;
    min-height:25px;
    font-size:29pt;
    margin-bottom: 5px;
    float:right;
    background-color: #aaa;
  }
  .commentsSection{
    background-color: var(--second-color-B);
    margin: 5px;
    padding: 5px;
    display: 'block';
  }
  .commentsCreation{
    background-color: var(--main-color-B);
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
  }
  .commentInput{
    width: 70%;
    font-size:22pt;
    margin:5px;
    padding:5px;
    border: none;
    border-radius: 4px;
  }
  .commentSubmitBtn{
    font-size:22pt;
    margin:5px;
    padding:5px;
    float:right;
    color:white;
    border-radius: 4px;
    background-color: var(--main-color);
  }
  .commentSubmitBtn:hover{
    background-color: var(--main-color-B);
    color: #333;
  }
  .commentContainer{
    margin: 5px;
    padding: 5px;
  }
  .commentContainerContainer{
    margin: 5px;
    padding: 5px;
    background-color: var(--main-color-B);
    border-radius: 20px;
  }
  .commentUserImageSpace{
    float:left;
    margin:5px;
    height:70px;
    width:70px;
  }
  .commentUserImage{
    border-radius: 100%;
  }
  .commentUserName{
    display: inline-block;
    float: left;
    font-size: 18pt;
    margin: 0;
    margin-left: 15px;
    margin-bottom: -15px;
  }
  .commentDate{
    text-align: right;
    font-size: 18pt;
    margin: 0;
    margin-right: 15px;
    margin-bottom: -15px;
  }
  .commentText{
    text-align: left;
    font-size: 22pt;
  }
  /*Other stuff: */

  .buttonHolder{
    margin: 0px auto;
    text-align: center;
  }

  /* style inputs and link buttons */

  .loginInput {
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    margin: 5px 20px;
  }

  .loginbutton{
  width: 20%;
  font-size: 17px;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: var(--main-color);
  color:white;
  }

  .registerbutton{
    min-width: 20%;
    font-size: 17px;
    padding: 14px 20px;
    margin: 8px 0;
    background-color: var(--main-color);
    color:white;
  }

  input:hover,
  .btn:hover {
    opacity: 1;
  }

  .loginTitle{
    text-align:center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 60px;
    font-family: 'Unlock', cursive;
  }

  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
  }
  .formLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
  }

  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
  }

  h5{
    font-size: 25px;
    color:var(--main-color);
    text-align: center;
  }
  #loginForm{
    display: block;
  }
  #registerForm{
    display: none;
  }

.container {
  position: left;
  border-radius: 2px;
  background-color: var(--second-color-D);
  padding: 100px 0 10px 0;
  margin: 50px;
  width: 400px;
  float:right;
  height: 800px;
}

.indexButtonHolder{
  text-align:center;
  color:white;
  margin: 0;
}

.navButton{
  background-color: grey;
  font-family: 'unlock', cursive;
  color:white;
  font-size: 18pt;
  padding:5px;
}
.navButton:hover{
  background-color: darkgrey;
}
